.radios .radio {
  padding: 1.2rem;
  background-color: #f8f9fa;
  /* border: 1px solid white; */
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.radios input[type="radio"] {
  display: none;
}

.radios input[type="radio"]:checked + .radio {
  background-color: #343a40;
  color: #f8f9fa;
}

.deliverySelection {
  width: 50%;
  height: 10rem;
}

.deliverySelection .radio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

@media (max-width: 576px) {
  .deliverySelection {
    width: 100%;
    height: 10rem;
  }
}
